/**
 * CSS File with style properties for  all Gui Components
 * @author Sandro Guerotto
 * @created 20.09.2016
 * @version 1.0
 **/

.text{
    -fx-font-family: "Abel";
}

.title{
    -fx-font-family: "Abel";
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.subtitle{
    -fx-font-size: 24px;
    -fx-text-fill: #4d4d4d;
}
.subtitle2{
    -fx-font-size: 20px;
    -fx-text-fill: #4d4d4d;
}
.text-content{
    -fx-font-size: 18px;
    -fx-text-fill: #4d4d4d;
}
.input{
    -fx-font-size: 18px;

}

/* ===================================================================
/* 							Login
 * ===================================================================
 */
.error{
    -fx-text-fill: #D8000C;
    -fx-font-size: 24px;
}
.btn{
    -fx-font-size: 24px;
    -fx-text-fill: #4d4d4d;
}

.btn2{
    -fx-font-size: 18px;
    -fx-text-fill: #4d4d4d;
}

/* ===================================================================
/* 							Application
 * ===================================================================
 */
#pant_tab{
    -fx-background-color: #b4d878;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.tab-pane {

    -fx-tab-min-height:30px;
    -fx-tab-max-height:30px;
}
.tab{
    -fx-font-size: 20px;
    -fx-text-fill: #4d4d4d;
    -fx-background-color: transparent;

}
.tab:selected{
    -fx-background-color: #b4d878;
}
.table-view{
    -fx-border-color: white;
    -fx-selection-bar: #b4d878;
}
.table-view:focused{
    -fx-focus-color: transparent;
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 18px;
    -fx-border-color: #4d4d4d;
    -fx-border-width: 0 0 2 0;
}
.table-view .table-cell{
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 18px;
}

#col_jokerStatus{
    -fx-text-alignment: center;
}
#col_jokerReason .label,
#col_gesuchReason .label{
    -fx-alignment: CENTER_LEFT;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.hyperlink:focused, .hyperlink:hover{
    -fx-text-fill: #b4d878;
}

/* ===================================================================
/* 							ListItem
 * ===================================================================
 */

.text-area {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
    -fx-text-fill: #4d4d4d;
}
/*text area show as normal*/
.text-area:disabled, jfx-text-field:disabled{
    -fx-opacity: 1.0;
    -fx-text-fill: #4d4d4d;
}
.text-input > .scroll-pane:disabled {
    -fx-opacity: 1;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
#item{
    -fx-background-radius: 10.0;
}

#lv_tasks .list-cell:filled:selected:focused, #lv_tasks .list-cell:filled:selected{
    -fx-background-color:  white;
    -fx-text-fill: #4d4d4d;
}

/* ===================================================================
/* 							Combo box
 * ===================================================================
 */
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: #b4d878;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #b4d878;
    -fx-text-fill: -fx-text-inner-color;
}

/* ===================================================================
/* 							List View notification
 * ===================================================================
 */
#notification .list-cell:filled:selected:focused, #notification .list-cell:filled:selected,
#notification .list-cell:filled:focused{
     -fx-background-color:  #b4d878;
     -fx-text-fill: #4d4d4d;
 }
#notification .scroll-bar .increment-arrow,
#notification .scroll-bar .decrement-arrow,
#notification .scroll-bar .increment-button,
#notification .scroll-bar .decrement-button {
    -fx-padding:0;
}
/* ===================================================================
/* 							List View Event
 * ===================================================================
 */
#event{
    -fx-font-family: "Abel";
    -fx-text-fill: #4d4d4d;
}

#event:focused > .title{
    -fx-color: #b4d878;
}
#event  .title {
    -fx-font-size: 16px;
}
#event *.content{
    -fx-font-family: "Abel";
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 14px;
}
/* ===================================================================
/* 							Popup Task
 * ===================================================================
*/

#tf_descr:disabled, #tf_descr:disabled > * ,
#tf_title:disabled, #tf_title:disabled > * ,
#dp_date:disabled, #dp_date:disabled > * ,
#dp_time:disabled, #dp_time:disabled > * ,
#cb_subject:disabled, #cb_subject:disabled > * ,
#cb_teacher:disabled, #cb_teacher:disabled > * {
  -fx-opacity: 1.0 ;
  -fx-text-fill: #4d4d4d;
}
.btn_save:disabled, .btn_save:disabled > *,
.btn_edit:disabled, .btn_edit:disabled > *,
.btn_delete:disabled, .btn_delete:disabled > *{
  -fx-opacity: 0.4 ;
}

/* ===================================================================
/* 							Mymark
 * ===================================================================
*/
#col_semester, #col_mark, #col_avgClass {
  -fx-alignment: CENTER;
}
/* ===================================================================
/* 							Nachrichten
 * ===================================================================
*/

.error-small{
    -fx-text-fill: #D8000C;
    -fx-font-size: 18px;
}
.error-large{
    -fx-text-fill: #D8000C;
    -fx-font-size: 30px;
}

/*.jfx-snackbar-content, */
.msg_info, .msg_success, .msg_warning, .msg_error {
    -fx-padding: 12px 12px 12px 12px;
    -fx-font-size: 18px;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 10, 0, 0, 0);
}
/*.jfx-snackbar-toast, */
.msg_info{
    -fx-text-fill: #00529B;
    -fx-background-color: #BDE5F8;
    -fx-border-color: #00529B;
    /*-fx-graphic: url('../icons/msg/info.png');*/
    -fx-graphic-hpos: leading;
    -fx-graphic-text-gap: 10;
	-fx-graphic-vpos: center;
   
}
.msg_success {
    -fx-text-fill: #4F8A10;
    -fx-background-color: #DFF2BF;
    -fx-border-color: #4F8A10;
    /*-fx-graphic: url('../icons/msg/success.png');*/
    -fx-graphic-hpos: leading;
    -fx-graphic-text-gap: 10;
	-fx-graphic-vpos: center;
}
.msg_warning {
    -fx-text-fill: #9F6000;
    -fx-background-color: #FEEFB3;
    -fx-border-color: #9F6000;
    /*-fx-graphic: url('../icons/msg/warning.png');*/
    -fx-graphic-hpos: leading;
    -fx-graphic-text-gap: 10;
	-fx-graphic-vpos: center;
}
.msg_error {
    -fx-text-fill: #D8000C;
    -fx-background-color: #FFBABA;
    -fx-border-color: #D8000C;
    /*-fx-graphic: url('../icons/msg/error.png');*/
    -fx-graphic-hpos: leading;
    -fx-graphic-text-gap: 10;
	-fx-graphic-vpos: center;
}